main {
    background-color: var(--White);
    margin: 0 auto;
}

:root {
    --Yellow: #fcf300;
    --Orange: #b3640b;
    --Blue: #03264C;
    --Light-Blue: #1259c3;
    --Dark-Gray: #1e1e1e;
    --Dark-Gray2: #2c2c2c;
    --Light-Gray: #ebebeb;
    --Shadow-Gray: rgb(100, 100, 100);
    --Gray-Opacity: rgb(0, 0, 0, 0.5);
    --Green: #39b54a;
    --White: #ffffff;
    --Red: #ff0000;
    --Blue2: #0022AA;
}

h1 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.titulosinicio {
    color: #fcf300;
    margin-bottom: 15px;
    border-bottom: #fcf300 solid 2px;
}

.login {
    display: flex;
    flex-direction: column;
}

.errores-log{
    margin: auto;
    width: 90%;
    padding: 5px;

}

.bloque {
    justify-content: center;
    text-align: center;
    margin: 10px;
    background-color:var(--Dark-Gray2);
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.nuevacuenta {
    background-color: #fcf4009e;
    padding: 4px;
    margin-top: 10px;
    border: #fcf300 solid 2px;
}

main p {
    background-color: var(--Dark-Gray2);
    margin-bottom: 8px;
}

main form {
    display: flex;
    flex-direction: column;
    padding: 0% 8%;

}

form p {
    margin: 8px;
}

#remember{
    margin: 10px;
}

.botoninicio {
    margin: 10px;
}
.botoninicio a {
    color: black;
}

.text-danger {
    font-size: 12px;
    color: var(--Red);
}

@media(min-width: 361px) {
    .login {
        margin: 0px 20%;
    }
}

@media(min-width: 769px) {

    .login{
        flex-direction: row;
        width: 70%;
        margin: 0px 25%;
        justify-content: space-between;
    }

    .bloque{
        width: 70%;
    }
    .text-danger {
        font-size: 18px;
    }

}




