@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin: 0 auto;
}

:root {
    --Yellow: #fcf300;
    --Orange: #b3640b;
    --Blue: #03264C;
    --Light-Blue: #1259c3;
    --Dark-Gray: #1e1e1e;
    --Dark-Gray2: #2c2c2c;
    --Light-Gray: #ebebeb;
    --Shadow-Gray: rgb(100, 100, 100);
    --Gray-Opacity: rgb(0, 0, 0, 0.5);
    --Green: #39b54a;
    --White: #ffffff;
    --Red: #ff0000;
    --Blue2: #0022AA;
}

header {
    position: relative;
    background-color: var(--Dark-Gray2);
    display: flex;
    flex-wrap: wrap;
    height: 228px;
    margin: 0 auto;
    padding: 10px 10px 5px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    align-content: space-between;
}

main {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: var(--Light-Gray);
    padding-top: 228px;
    transition: all 500ms;
    padding-bottom: 25px;

}

.main-header-top-bar {
    width: 100%;
    background-color: var(--Dark-Gray2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.container-menu {
    width: 100%;
}

.burger-menu {
    display: flex;
    align-items: center;
    color: var(--White);
    background-color: var(--Blue2);
    margin: 0 auto;
    border-radius: 0.2em;
    padding: 15px;
    height: 10px;
    width: 10px;
    justify-content: center;
}


.main-header-top-bar i {
    font-size: 15px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
    justify-content: center;
}

.search input {
    display: flex;
    font-family: inherit;
    border: 1px solid #fcf300;
    border-radius: 5px;
    background-color: transparent;
    padding: 0px 15px 0px 30px;
}

.search-bar-form {
    display: flex;
}

.barra {
    width: 160px;
}

.search-bar-form {
    display: flex;
}

.lupa {
    background-color: var(--Dark-Gray2);
    border: 1px solid #fcf300;
    color: var(--Yellow);
    border-radius: 5px;
}

.titulologo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: var(--Yellow);
    width: 200px;
}

.logo {
    width: 95%;
    max-width: 90%;
    max-height: 90%;
}

.menuDesplegable {
    position: fixed;
    top: 233px;
    left: 5px;
    z-index: 98;
}

.nombre {
    font-size: 15px;
}

#icon-nav {
    font-size: 20px;
}

ul.iconos {
    float: right;
    margin-right: 20px;
    padding-left: 0;
}

ul.iconos li {
    display: inline-block;
    margin: 0px 15px;
}

ul.iconos li a {
    color: #fcf300;
}

/*Header 2*/
.main-navbar {
    width: 100%;
    flex-direction: row;
    background-color: var(--Dark-Gray2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: var(--Dark-Gray);
    display: inline-block;
    padding: 5px 4px 5px 0;
    font-size: 10px;
}

.main-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
    align-content: center;
}

.main-navbar ul {
    margin: 0;
    padding: 0;
}

.main-navbar i {
    width: 17px;
    color: var(--Yellow);
}

.left-navbar {
    width: 40%;
    display: flex;
    font-size: 12px;
    text-align: center;
    padding-left: 0px;
    justify-content: space-between;
}

.rigth-navbar {
    width: 40%;
    display: flex;
    font-size: 12px;
    text-align: center;
    padding-left: 0px;
    justify-content: space-between;

}

.h3-navbar {
    color: var(--Yellow);
    text-align: center;
    font-size: 10px;
    width: 250px;
    text-align: center;
    align-items: center;

}

.copy-header {
    font-size: 13px;
    font-weight: lighter;
    margin-top: 10px;

}

.menu-social {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: normal;

}

.media {
    width: 22px;
}

/*Tercer header con menu*/
section.tercer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;

}

/*main-body*/

main section {
    margin: 0 auto;
}

.contenedor-articulos {
    padding-bottom: 15px;
}

.titulares {
    font-size: 25px;
    margin: 30px;
}

.subtitulo {
    width: 300px;
    margin: 0 auto;
    width: 60%;
    font-size: 15px;
    padding: 20px, 15px;
    color: var(--White);
    background-color: var(--Dark-Gray2);
    border-radius: 6px;
}


img.imagen {
    width: 100%;
}

.contenedor {
    width: 100%;
    text-align: left;
    padding: 15px;
    border-top: solid 1px var(--Light-Gray);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    transition-property: transform;
}


.articulos {
    display: block;
    position: relative;
    width: 70%;
    background-color: var(--White);
    margin: 0 auto;
    margin-bottom: 10px;
    transition: all 500ms;
}

.imagen-producto {
    width: 90%;
    text-align: center;
}

#icon-truck {
    font-size: 18px;
    padding: 8px;
    border: 1px solid var(--Orange);
    background-color: var(--Dark-Gray);
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: -15px;
    transition: all 1000ms;
}

.contenedor #icon-truck:hover {
    transform: rotate(-360deg);
    box-shadow: 0px 0px 5px 5px var(--Shadow-Gray);
    font-size: 25px;
}

.articulos:hover {
    box-shadow: 0px 0px 10px 10px var(--Shadow-Gray);
}

.precios {
    font-size: 18px;
    margin-top: 0%;
    margin-bottom: 0%;
    flex: 30%;
}

.descripcion {
    opacity: 0;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

main section div article:hover .descripcion {
    opacity: 1;
}

.articulos .descripcion {
    transition-duration: 500ms;
}

#icon-canasta {
    font-size: 18px;
    padding: 8px;
    background-color: var(--Dark-Gray2);
    border: 1px solid var(--Orange);
    border-radius: 50%;
    color: var(--Orange);
    position: absolute;
    top: -15px;
    right: 70px;
    transition: all 1000ms;
}

/* .camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--Green);
    background-color: var(--White);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--Green);
} */

/*Footer*/
footer.footer {
    background-color: var(--Dark-Gray);
}

.footer {
    padding: 70px 0px;
    background-color: var(--Dark-Gray);
}

.footer-col {
    padding: 0 15px;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul a {
    font-size: 16px;
    color: var(--Yellow);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul a:hover {
    padding-left: 10px;
}

.footer-col h4 {
    font-size: 20px;
    color: var(--Yellow);
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    font-size: 20px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.abajo {
    max-width: 1170px;
    margin: auto;
    background-color: var(--Dark-Gray2);
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.footer-col .social a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: var(--Dark-Gray);
    margin: 5px 12px 12px 5px;
    text-align: center;
    border-radius: 20%;
    color: var(--Light-Gray);
}

.contenedor02 {
    width: 100%;
    background-color: var(--Dark-Gray);
    text-align: start;
    padding: 10px;

}

.pie-de-pagina {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-decoration: none;
}

/*-----------------------------------mediaQuery--------------------------------*/

@media (min-width: 481px) {
    .main-header-top-bar {
        flex-direction: row;
        justify-content: center;
    }

    .burger-menu {
        margin-top: 0;
    }

    .left-navbar,
    .rigth-navbar {
        width: 30%;
    }

}

@media (min-width: 481px) {
    header {
        height: 200px;
    }

    main {
        padding-top: 200px;
    }

    .menuDesplegable {
        top: 205px;
        left: 5px;
    }
}

@media(min-width: 769px) {

    .main-header-top-bar {
        justify-content: space-between;
    }

    .titulologo {
        width: 240px;
    }

    .h3-navbar {
        width: 260px;
    }

    .search {
        width: 240px;
    }

    .barra {
        width: 210px;
        height: 30px;
    }

    .copy-header {
        font-size: 15px;
    }

    .left-navbar,
    .rigth-navbar {
        width: 25%;
    }

    .articulos {
        width: 35%;
    }

    .contenedor-articulos {
        display: flex;
        flex-wrap: wrap;
    }

    header {
        height: 160px;
    }

    main {
        padding-top: 160px;
    }

    .menuDesplegable {
        top: 165px;
        left: 5px;
    }

}

@media(min-width: 1280px) {


    .titulologo {
        width: 260px;
    }

    .h3-navbar {
        width: 300px;
    }

    .search {
        width: 260px;
    }

    .barra {
        width: 230px;
        height: 33px;
    }

    .copy-header {
        font-size: 18px;
    }

    .left-navbar,
    .rigth-navbar {
        width: 15%;
    }

    .media {
        width: 30px;
    }

    .main-navbar i {
        width: 25px;
    }

    #icon-nav {
        font-size: 25px;
    }

    .articulos {
        width: 22%;
    }
}