@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins';
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
}
h1{
    color: #fcf300;
    padding:15px 15px 15px 15px;
    font-size: 35px;

}
.headertop{
    background-color: #1e1e1e;
    width: 100%;
    display: flex;
}
.subheader{
    background-color: rgba(44, 44, 44, 0.979);
    display:flex;
    min-width: 70px;
    align-items: center;
    padding: 10px 40px;
    height: 90px;
}
.iconos{
    display:flex;
    justify-content: space-between;
    flex: 2;
}
a{
    color:#fcf300;
    font-size: 20px;
    display:flex;
    justify-content: space-between;
}
nav .facebook{
    color:rgb(50, 50, 218);
}
nav .instagram{
    color:rgb(228, 129, 220);
}
nav .whatsapp{
    color:rgb(50, 160, 50);
}
.logo{
   display:flex;
   width: 200px;
   margin-top: 30px;
}  
div .busqueda{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width:30%;
    margin-right: 5px;
}
.busqueda .boton {
    display: flex;
    background-color: #FFF;
    border: 1px solid rgb(255, 255, 255);
    outline: none;
    color: #666;
    padding: 12px;
    height: 20px;
    width: 50%;
    max-width: 500px;
    flex: auto;
    margin-right: 30px;
}
.lupa{
    color:#666;
    font-size:12px;
}
.usuario, .favorito, .shop{
    color: #fcf300;
    padding: 15px 15px 15px 15px;
    width: 5%;
    font-size: 30px;
    align-self: flex-end;
    
}
.banner{
    width: 100%;
}

main{
    background-color: white;
    margin:0 auto;
}
.imagen{
    width: 30%;
    text-align: center;
}
.contenedor{
    width: 100%;
    text-align: left;
    padding: 15px;
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
    flex-direction: row;
    justify-content: space-between;

}
.articulos {
    width: 30%;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.camion {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:#39b54a;
}

footer{
    background-color: #666;

}
.abajo {
    width: 100%;
    text-align: jus;
    padding: 20px;
}
.abajo p {
    margin: 0 auto;
    margin-bottom: 30px;
}
.abajo h3 {
    margin: 0 auto;
}