<%-include('./partials/head') %>

<link rel="stylesheet" href="/css/register.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/editProduct.css">
<link rel="stylesheet" href="/css/create-product.css">
<title>Crear producto</title>

<%- include('partials/header')%>

    <main class="main-form">
        <form action="/products" method="POST" class="create-form" id="create-product-form" enctype="multipart/form-data">
            <div class="control-formulario">
                <h4>Crea un nuevo producto:</h4>
            </div>
           

            <div class="control-formulario">
                <label for="nombre" class="input-label"> Nombre: 
                    <input type="text" name="nombre" id="nombre"
                        placeholder="Nombre del product@ Ej: Cemento" value="" pattern="[A-Za-z0-9!?-@]{6,12}"
                        class="control" required>
                    <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                        los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>
            <div class="control-formulario">
                <label for="descripcion" class="input-label"> Descripción:
                    <input type="text" name="descripcion" id="descripcion"
                        placeholder="Descripcion del producto" value="Detalles del producto" 
                        class="control" required>
                    <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                        los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="marca" class="input-label"> Marca:
                    <input type="text" name="marca" id="marca"
                        placeholder="Marca del producto" value="Marca" pattern="[A-Za-z0-9!?-@]{6,12}"
                        class="control" required>
                    <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                        los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="precio" class="input-label"> Precio:
                    <input type="number" name="precio" id="precio"
                        placeholder="Precio del producto" value="0000" 
                        class="control" required>
                    <div class="msg-error">Podrá contener números. <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>

            <div class="control-formulario">
                <label for="stock" class="input-label"> Stock:
                    <input type="stock" name="stock" id="stock"
                        placeholder="Stock del producto" value="" 
                        class="control" required>
                    <div class="msg-error">Podrá contener números<i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
                </label>
            </div>


            <div class="control-formulario">
                <h4>Promoción:</h4>
                <div class="padre-control">
                    <div class="hijo-control">
                        <label class="label-control" for="enOferta">Con descuento
                            <input type="radio" name="enOferta" id="oferta" value="conDescuento" required>
                            <div class="msg-error">Debes elegir una opción.</div>
                        </label>
                    </div>
                    <div class="hijo-control">

                        <label class="label-control" for="enOferta">Sin descuento
                            <input type="radio" name="enOferta" id="oferta" value="sinDescuento">
                        </label>
                    </div>
                </div>
            </div>
            
       

            <div class="control-formulario">
                <h4>Categoría:</h4>
                <div class="padre-control2">
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="herramientas" value="herramientas">
                        <label for="herramientas">Herramientas</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="cementos-cal" value="cementos">
                        <label for="cementos-cal">Cementos/cal</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="aberturas" value="aberturas">
                        <label for="aberturas">Aberturas</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="hierro-chapas" value="hierro-chapas">
                        <label for="hierro-chapas">Hierro/chapas</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="ladrillos" value="ladrillos">
                        <label for="ladrillos">Ladrillos</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="agua-gas" value="agua-gas">
                        <label for="agua-gas">Agua/gas</label>
                    </div>
                    <div class="hijo-control2">
                        <input type="checkbox" name="categoria" id="instalaciones" value="instalaciones">
                        <label for="instalaciones">Instalaciones</label>
                    </div>

                </div>
            </div>


            <div class="control-formulario">
                <h4 class="image-h4">Selecciona una imagen para el producto:</h4>
                <label for="image-product" class="label-image-product">
                    <input type="file" name="imagen" id="image-product" accept=".jpg, .png">
                </label>
            </div>

            <br>
            <div class="control-formulario">
                <button type="reset" class="button-form">Limpiar</button>
                <button type="submit" class="button-form"> Cargar producto</button>
            </div>
        </form>
    </main>
    
    <%- include('partials/footer')%> 

    <%-include('./partials/script-bootstrap') %> 


</body>

</html>