<%-include('./partials/head') %>

<link rel="stylesheet" href="/css/register.css">


<title>Crear producto</title>

<%- include('partials/header')%>


<main class="main-form">
    <form action="/crear-usuario" method="POST" class="create-form">
        <div class="control-formulario">
            <h4>Crea un nuevo producto:</h4>
        </div>


        <div class="control-formulario">
            <label for="nombre-producto" class="input-label">
                <input type="text" name="nombre-producto" id="nombre-producto"
                    placeholder="Nombre del product@ Ej: Cemento" value="Cement@" pattern="[A-Za-z0-9!?-@]{6,12}"
                    class="control" required>
                <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                    los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
            </label>
        </div>
        <div class="control-formulario">
            <label for="descripcion-producto" class="input-label">
                <input type="text" name="descripcion-producto" id="descripcion-producto"
                    placeholder="Descripcion del producto" value="Detalles del producto" pattern="[A-Za-z0-9!?-@]{6,12}"
                    class="control" required>
                <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                    los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
            </label>
        </div>

        <div class="control-formulario">
            <label for="marca-producto" class="input-label">
                <input type="text" name="marca-producto" id="marca-producto" placeholder="Marca del producto"
                    value="Marca" pattern="[A-Za-z0-9!?-@]{6,12}" class="control" required>
                <div class="msg-error">Podrá contener de 6 a 12 letras mayúsculas, minúsculas, números. Admite solo
                    los caracteres ! ? - @ <i class="fa-solid fa-circle-exclamation" id="icon-danger"></i></div>
            </label>
        </div>

        <div class="control-formulario">
            <label for="precio-producto" class="input-label">
                <input type="number" name="precio-producto" id="precio-producto" placeholder="Precio del producto"
                    value="0000" class="control" required>
                <div class="msg-error">Podrá contener números. <i class="fa-solid fa-circle-exclamation"
                        id="icon-danger"></i></div>
            </label>
        </div>

        <div class="control-formulario">
            <label for="precio-producto" class="input-label">
                <input type="stock" name="stock-producto" id="stock-producto" placeholder="Stock del producto"
                    value="0000" class="control" required>
                <div class="msg-error">Podrá contener números<i class="fa-solid fa-circle-exclamation"
                        id="icon-danger"></i></div>
            </label>
        </div>


        <div class="control-formulario">
            <h4>Perfil de Usuario:</h4>
            <div class="padre-control">
                <div class="hijo-control">
                    <label class="label-control" for="enOferta">Con descuento
                        <input type="radio" name="enOferta" id="enOferta" required>
                        <div class="msg-error">¿El producto tiene descuento?.</div>
                    </label>
                </div>
                <div class="hijo-control">

                    <label class="label-control" for="sinDescuento">Sin descuento
                        <input type="radio" name="sinDescuento" id="sinDescuento">
                    </label>
                </div>
            </div>
        </div>

        <div class="control-formulario">
            <h4>Categoría:</h4>
            <div class="padre-control2">
                <div class="hijo-control2">
                    <input type="checkbox" name="herramientas" id="herramientas">
                    <label for="herramientas">Herramientas</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="cementos-cal" id="cementos-cal">
                    <label for="cementos-cal">Cementos/cal</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="aberturas" id="aberturas">
                    <label for="aberturas">Aberturas</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="hierro-chapas" id="hierro-chapas">
                    <label for="hierro-chapas">Hierro/chapas</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="ladrillos" id="ladrillos">
                    <label for="ladrillos">Ladrillos</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="agua/gas" id="agua-gas">
                    <label for="agua-gas">Agua/gas</label>
                </div>
                <div class="hijo-control2">
                    <input type="checkbox" name="instalaciones" id="instalaciones">
                    <label for="instalaciones">Instalaciones</label>
                </div>

            </div>
        </div>
        <div class="control-formulario">
            <h4 class="image-h4">Selecciona una imagen para el producto:</h4>
            <label for="image-profile" class="label-image-profile">
                <input type="file" name="image-profile" id="image-profile" accept=".jpg, .png">
            </label>
        </div>

        <br>
        <div class="control-formulario">
            <button type="reset" class="button-form">Limpiar</button>
            <button type="submit" class="button-form"> <a href="/" target="_blank">Cargar producto</a></button>
        </div>
    </form>
</main>

<%- include('partials/footer')%>

<%-include('./partials/script-bootstrap.ejs') %> 


</body>

</html>