<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildreams</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header class="top">
        <div class="headertop">
            <h1>Buildreams</h1>
            <div class="busqueda" action="#" method="GET">
                <input class="boton" placeholder="Busqueda de productos"></input>
                <p class="lupa"><i class="fa fa-search"></i>
            </div>
            <h3>Construyendo tus sueños</h3>
        </div>
        <div class="Subheader">
            <div class="Izquierda">
                <img class="Logo" src="" alt="Logo">
            </div>
            <div class="Derecho">
                <img class="Facebook" src="/images/facebook.svg" alt="Facebook">
                <img class="Instagram" src="/images/instagram-icon.svg" alt="Instagram">
                <img class="Whatsapp" src="/images/whatsapp-icon.svg" alt="Whatsapp">
            </div>
            <nav class="Menu">
                <ul class="Menu-header">
                    <li><a href="#" target="_blank">MATERIALES</a></li>
                    <li><a href="#" target="_blank">REVESTIMIENTOS</a></li>
                    <li><a href="#" target="_blank">HERRAMIENTAS</a></li>
                </ul>
        </div>
        <section class="banner">
            <img class="banner" src="/images/Banner.png" alt="banner">
        </section>



        </div>

    </header>


</body>

</html>