<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildreams</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header class="top">

        <div class="headertop">

            <p class="titulologo">BUILDREAMS</p>

            <div class="busqueda" action="#" method="GET">
                <input class="boton" placeholder="Busqueda de productos"></input>
            </div>
            <div class="iconos">
            <p class="usuario"><i class="fa fa-user-circle"></i></p>
            <p class="favorito"><i class="fa fa-heart"></i></p>
            <p class="shop"><i class="fa fa-shopping-cart"></i></p>
            </div>
        </div>
        <div class="subheader">
            <img class="logo" src="/images/Logo.png" alt="Logo">
            <section class="frase">El mejor lugar para comprar los materiales para tu construccion</section>

            <ul class="menu-header">
                <a href="#" target="_blank">MATERIALES</a>
                <a href="#" target="_blank">REVESTIMIENTOS</a>
                <a href="#" target="_blank">HERRAMIENTAS</a>
            </ul>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </div>
    </header>

    <section>
        <img class="banner" src="/images/Banner.png" alt="banner">
    </section>


    <main>

        <section class="lista-productos">
            <br>
            <h2 class="titulares">Productos descatacados del mes</h2>
            
            <div class="productos">

                <article class="articulos">
                    <img class="imagen" src="images/plasticor-loma-negra-40kg.jpg" alt="plasticor">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$1.194,02</p>
                        <p class="descripcion">Marca Loma Negra</p>
                        <h4 class="nombre">PLASTICOR X 40 KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>

                    </div>

                </article>

                <article class="articulos">
                    <img class="imagen" src="images/plasticor-loma-negra-40kg.jpg" alt="plasticor">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$1.194,02</p>
                        <p class="descripcion">Marca Loma Negra</p>
                        <h4 class="nombre">PLASTICOR X 40 KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>

                    </div>

                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/ladrillo-hueco.jpg" alt="Ladrillo-hueco-8X18X33">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$104,30</p>
                        <p class="descripcion">Marca Buildreams</p>
                        <h4 class="nombre">LADRILLO HUECO 8X18X33 6AG.</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/Barra-Hierro-10x12.jpg" alt="Barra-Hierro-10x12">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$2300</p>
                        <p class="descripcion">Aletado 10mm x 12mm</p>
                        <h4 class="nombre">BARRA HIERRO CONSTRUCCION aletado ø10mm x 12m</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

            </div>

            <p class="subtitulo">haciendo click aca encontras más productos destacados </p>

        </section>

        <section class="lista-productos">
            <br>
            <h2 class="titulares">Ofertas</h2>
            
            <div class="productos">
                <article class="articulos">
                    <img class="imagen" src="/images/ladrillo-hueco.jpg" alt="Ladrillo-hueco-8X18X33">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$104,30</p>
                        <p class="descripcion">Marca Buildreams</p>
                        <h4 class="nombre">LADRILLO HUECO 8X18X33 6AG.</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/ladrillo-portante2.jpg" alt="ladrillo-portante 2">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$274,80</p>
                        <p class="descripcion">Marca Buildreams</p>
                        <h4 class="nombre">LADRILLO PORTANTE 18X19X33</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>
            </div>

            <p class="subtitulo">haciendo click aca encontras mas tipos de Ladrillos </p>

        </section>
    </main>


    <footer>
        <section class="abajo">
            <br>
            <p class="contactenos"><i class="fa fa-hand-o-down"></i></p>
            <h3>CONTACTENOS</h3>
            <p>Avenida Colón 2643</p>
            <p>Mar del Plata, Buenos Aires</p>
            <p>2236681976 - 2234702344</p>
            <br>
            <p class="redes"><i class="fa fa-mobile"></i></p>
            <h3>SEGUINOS EN LAS REDES</h3>
            <img class="face" src="/images/facebook.svg" alt="face">
            <img class="ig" src="/images/instagram-icon.svg" alt="ig">
            <br>
            <p class="horarios"><i class="fa fa-clock-o"></i></p>
            <h3>HORARIOS DE ATENCION</h3>
            <p>Lunes a viernes de 08 a 18hs</p>
            <p>Sabados y feriados de 9 a 13hs</p>
            <p>Domingo cerrado</p>
            <br>
            <p>Copyright © 1999-2022 Buildreams S.R.L</p>
        </section>
    </footer>
</body>

</html>