<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildreams</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <header>
            <div class="titulologo">
            <p>BUILDREAMS</p>
            </div>

            <div class="busqueda" action="#" method="GET">
                <input type="text" placeholder="Busqueda de productos">
                <i class="fa fa-search"></i>
            </div>

            <ul class="iconos">
                <li><a href="usuario"><i class="fa fa-user-circle fa-2x"></i></a></li>
                <li><a href="carrito"><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                <li><a href="favorito"><i class="fa fa-heart fa-2x"></i></a></li>
            </ul>
        </div>
    </header>
    <section>
        <img class="banner" src="/images/Banner.png" alt="banner">
    </section>
    <section class="subheader">
        <img class="logo" src="/images/Logo.png" alt="Logo">
        <h2>El mejor lugar para comprar los materiales para tu construccion</h2>
        <nav>
            <ul class="menu-social">
                <a href="#" target="_blank"><img class="media" src="/images/facebook.svg" alt="Facebook"></a>
                <a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg" alt="Whatsapp"></a>
                <a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg" alt="Instagram"></a>
            </ul>
        </nav>
    </section>
    <section class="tercer">
    <ul class="menu-header">
        <a href="#" target="_blank">Materiales</a>
        <a href="#" target="_blank">Revestimientos</a>
        <a href="#" target="_blank">Herramientas</a>
    </ul>
    </section>
    <main>
        <section class="lista-productos">
            <br>
            <h3 class="titulares">Productos descatacados del mes</h3>
            
            <div class="productos">

                <article class="articulos">
                    <img class="imagen" src="/images/plasticor-loma-negra-40kg.jpg" alt="plasticor">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$1.194,02</p>
                        <p class="descripcion">Marca Loma Negra</p>
                        <h4 class="nombre">PLASTICOR X 40 KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>

                    </div>

                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/cal-cacique-max-30kg.jpg" alt="cal-cacique-max-30kg">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$949,50</p>
                        <p class="descripcion">Marca cacique</p>
                        <h4 class="nombre">CAL CACIQUE MAX 30KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>

                    </div>

                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/ladrillo-hueco.jpg" alt="Ladrillo-hueco-8X18X33">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$104,30</p>
                        <p class="descripcion">Marca Buildreams</p>
                        <h4 class="nombre">LADRILLO HUECO 8X18X33 6AG.</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/Barra-Hierro-10x12.jpg" alt="Barra-Hierro-10x12">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$2300</p>
                        <p class="descripcion">Aletado 10mm x 12mm</p>
                        <h4 class="nombre">BARRA HIERRO CONSTRUCCION aletado ø10mm x 12m</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

            </div>

            <p class="subtitulo">haciendo click aca encontras más productos destacados </p>

        </section>

        <section class="lista-productos">
            <br>
            <h3 class="titulares">Ofertas</h3>
            
            <div class="productos">
                <article class="articulos">
                    <img class="imagen" src="/images/hidrofugo.jpg" alt="hidrofugo">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$3500</p>
                        <p class="descripcion">Marca Sinteplast</p>
                        <h4 class="nombre">HIDRÓFUGO 20KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/Revoque2-en-1.jpg" alt="Revoque2-en-1">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$2760</p>
                        <p class="descripcion">Marca Weber</p>
                        <h4 class="nombre">REVOQUE 2 EN 1 PROYECTABLE 30KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/yeso.jpg" alt="yeso">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$4129</p>
                        <p class="descripcion">Marca Durlock Yeso Tradicional</p>
                        <h4 class="nombre">YEMACO 40KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>

                <article class="articulos">
                    <img class="imagen" src="/images/pastina.jpg" alt="pastina">
                    <div class="contenedor">
                        <p class="camion"><i class="fa-solid fa-truck-fast"></i></p>
                        <p class="precios">$1800</p>
                        <p class="descripcion">Marca Weber</p>
                        <h4 class="nombre">PASTINA LISTA GRIS PERLA 1KG</h4>
                        <p class="agregar"><i class="fa fa-cart-plus"></i></p>
                    </div>
                </article>
            </div>

            <p class="subtitulo">haciendo click aca encontras más de nuestras ofertas </p>

        </section>
    </main>

    <footer class="footer">
        <div class="abajo">
            <div class="row">
                <div class="footer-col">
                    <h4>Nuestra empresa</h4>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Seguimientos</a></li>
                        <li><a href="#">Metodos de pago</a></li>
                        <li><a href="#">Metodos de envio</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactenos</h4>
                    <div class="social">
                        <a href="#"><i class="fa fa-map-marker"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
    </footer>
</body>

</html>