<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

    <header>

    </header>

    <main>

        <h1>Acceso de Clientes</h1>

        <section>

            <div class="login">

                <div class="bloque">
                    <h4>Clientes Registrados</h4>

                    <p>Si tiene una cuenta, inicie sesion con su e-mail y contraseña</p>

                    <form action="/" method="get">

                        <p>E-mail:</p>
                        <input type="text" name="usuario" class="inputText" required>

                        <p>contraseña:</p>
                        <input type="password" name="contraseña" class="inputText" required>

                        <button>Enviar</button>

                    </form>

                    <div class="nuevacuenta">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>

                </div>


                <div class="bloque">

                    <h4>Nuevos Clientes</h4>

                    <p>¿No tienes una cuenta?</p>
                    <p>Registrate y continua con tu compra, podras acceder a beneficios exclusivos</p>

                    <form action="/register" method="get">

                        <button>Crear cuenta</button>

                    </form>

                </div>

            </div>
        </section>

    </main>

    <footer>

    </footer>

</body>

</html>