<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <title>Carro de Compras</title>

</head>

<body>
    <header class="header-form">
        <section class="main-header-top-bar">
            <div class="titulologo">
                <a href="/"><img class="logo" src="/images/buildreams_Mati-removebg-preview.png"
                        alt="Logo Mercado Buildreams"></a>
            </div>

            <div class="search">
                <form class="search-bar-form" action="/listar.html" method="GET">
                    <input class="barra" type="search" , placeholder="Buscar productos">
                    <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <div class="h3-navbar">
                <h3 class="copy-header">El mejor lugar para comprar los materiales para tu construcción</h3>
            </div>
        </section>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/login.html"><i class="fa fa-user-circle fa-2x" id="icon-nav"></i></a></li>
                <li><a href="/productCart.html"><i class="fa fa-shopping-cart fa-2x" id="icon-nav"></i></a></li>
                <li><a href="/register.html"><i class="fa-regular fa-address-card" id="icon-nav"></i></a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="#" target="_blank"><img class="media" src="/images/facebook.svg" alt="Facebook"></a>
                </li>
                <li><a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg" alt="Whatsapp"></a>
                </li>
                <li><a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg" alt="Instagram"></a>
                </li>
            </ul>

        </nav>

    </header>


    <main class="main-cart">
        <form action="" method="POST" class="form-cart">
            <table class="table01">
                <thead class="thead01">
                    <tr>
                        <td class="td-number">#</td>
                        <td class="td-producto">Producto</td>
                        <td class="td-cantidad">Cantidad</td>
                        <td class="td-precio">Precio</td>
                        <td class="td-total">Total</td>
                        <td class="td-acciones">Acciones</td>
                    </tr>
                </thead>
                <tbody class="tbody01">
                    <tr>
                        <td class="td-number">1</td>
                        <td class="td-producto">Cemento Loma negra 40 kg</td>
                        <td class="td-cantidad">
                            <label for="cantidad"></label>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="100" value="1">
                        </td>
                        <td class="td-precio">950</td>
                        <td class="td-total">4750</td>
                        <td class="td-acciones"> <button class="boton-eliminar-producto" type="reset">Eliminar</button> </td>
                    </tr>
                    <tr>
                        <td class="td-number">2</td>
                        <td class="td-producto">Sinteplast</td>
                        <td class="td-cantidad">
                            <label for="cantidad"></label>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="100" value="1">
                        </td>
                        <td class="td-precio">2500</td>
                        <td class="td-total">2500</td>
                        <td class="td-acciones"> <button class="boton-eliminar-producto" type="reset">Eliminar</button> </td>
                    </tr>
                    <tr>
                        <td class="td-number">3</td>
                        <td class="td-producto">YEMACO 40KG</td>
                        <td class="td-cantidad">
                            <label for="cantidad"></label>
                            <input type="number" id="cantidad" name="cantidad" min="1" max="100" value="1">
                        </td>
                        <td class="td-precio">950</td>
                        <td class="td-total">4750</td>
                        <td class="td-acciones"> <button class="boton-eliminar-producto" type="reset">Eliminar</button> </td>
                    </tr>
                </tbody>
            </table>
            <div class="boton-compra">
                <button type="submit" class="button-form"> <a href="/" target="_blank">Comprar</a></button>
            </div>
        </form>
    </main>

    <footer>
        <section class="contenedor02">
            <div class="pie-de-pagina">
                <div class="footer-col">
                    <h4>Nuestra empresa</h4>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Políticas de privacidad</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Seguimientos</a></li>
                        <li><a href="#">Metodos de pago</a></li>
                        <li><a href="#">Métodos de envio</a></li>
                    </ul>
                </div>
                <div class="footer-col" id="footer-contacto">
                    <h4>Contáctenos</h4>
                    <ul class="rigth-footer">
                        <li><a href="#" target="_blank"><img class="media" src="/images/facebook.svg"
                                    alt="Facebook"></a>
                        </li>
                        <li><a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg"
                                    alt="Whatsapp"></a>
                        </li>
                        <li><a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg"
                                    alt="Instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="copyright">Copyright © 1999-2022 Buildreams S.R.L</p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
    </script>
</body>

</html>