<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

    <header>
        <section class="main-header-top-bar">
            <div class="titulologo">
                <a href="/"><img class="logo" src="/images/buildreams_Mati-removebg-preview.png"
                        alt="Logo Mercado Buildreams"></a>
            </div>

            <div class="search">
                <form class="search-bar-form" action="/listar.html" method="GET">
                    <input class="barra" type="search" , placeholder="Buscar productos">
                    <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <div class="h3-navbar">
                <h3 class="copy-header">El mejor lugar para comprar los materiales para tu construcción</h3>
            </div>
        </section>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/login"><i class="fa fa-user-circle fa-2x" id="icon-nav"></i></a></li>
                <li><a href="/productCart"><i class="fa fa-shopping-cart fa-2x" id="icon-nav"></i></a></li>
                <li><a href="/register"><i class="fa-regular fa-address-card" id="icon-nav"></i></a></li>
            </ul>

            <ul class="rigth-navbar">
                <li><a href="#" target="_blank"><img class="media" src="/images/facebook.svg" alt="Facebook"></a>
                </li>
                <li><a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg" alt="Whatsapp"></a>
                </li>
                <li><a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg" alt="Instagram"></a>
                </li>
            </ul>

        </nav>

    </header>

    <main>

        <section>

            <div class="pagina">

                <div class="ruta">Home/Construccion/Cementos</div>

                <div class="producto">

                    <p class="nombre">Plasticor Cemento de albañileria</p>

                    <img src="/images/plasticor-loma-negra-40kg.jpg" class="iamagenprincipal" alt="plasticor">

                    <div class="descripciondetalle">


                        <p class="caracteristicas">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id similique voluptatum iste error praesentium sequi quod nostrum vel dolor aspernatur. Dignissimos iste amet aspernatur repudiandae voluptatum. Impedit molestiae nam perferendis.</p>
                        
                        <div class="valor">
                            <p class="precio">$999999</p>
                            <p class="preciotxt">C/U</p>
                        </div>

                        <div class="finalizador">
                            <p>+ cantidad -</p>
                            <button>agregar al carrito</button>
                            <a href="favorito"><i class="fa fa-heart fa-2x"></i></a>
                        </div>

                    </div>

                </div>

                <div class="recomendado">

                    <p>tambien podria interesarte...</p>

                    <div>
                        <img src="/images/ladrillo-hueco.jpg">

                        <div class="nombreprecio">
                            <p>Ladrillo Hueco</p>
                            <div>
                                </p>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="/images/Barra-Hierro-10x12.jpg">

                        <div class="nombreprecio">
                            <p>Barra de hierro</p>
                            <div>
                                </p>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="/images/hidrofugo.jpg">

                        <div class="nombreprecio">
                            <p>Hidrofugo </p>
                            <div>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </section>

    </main>


    <footer>
        <section class="contenedor02">
            <div class="row">
                <div class="footer-col">
                    <h4>Nuestra empresa</h4>
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Nuestros servicios</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Ayuda</h4>
                    <ul>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Seguimientos</a></li>
                        <li><a href="#">Metodos de pago</a></li>
                        <li><a href="#">Metodos de envio</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Contactenos</h4>
                    <div class="social">
                        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    </div>
    </footer>

</body>

</html>