<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>

    <main>

        <section>

            <div class="pagina">

                <div class="ruta">Home/Construccion/Cementos</div>

                <div class="producto">

                    <p class="nombre">Plasticor Cemento de albañileria</p>

                    <img src="/images/plasticor-loma-negra-40kg.jpg" class="iamagenprincipal" alt="plasticor">

                    <div class="descripcion">


                        <p class="caracteristicas">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id similique voluptatum iste error praesentium sequi quod nostrum vel dolor aspernatur. Dignissimos iste amet aspernatur repudiandae voluptatum. Impedit molestiae nam perferendis.</p>
                        
                        <div class="valor">
                            <p class="precio">$999999</p>
                            <p class="preciotxt">C/U</p>
                        </div>

                        <div class="finalizador">
                            <p>+ cantidad -</p>
                            <button>agregar al carrito</button>
                            <a href="favorito"><i class="fa fa-heart fa-2x"></i></a>
                        </div>

                    </div>

                </div>

                <div class="recomendado">

                    <p>tambien podria interesarte...</p>

                    <div>
                        <img src="/images/ladrillo-hueco.jpg">

                        <div class="nombreprecio">
                            <p>Ladrillo Hueco</p>
                            <div>
                                </p>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="/images/Barra-Hierro-10x12.jpg">

                        <div class="nombreprecio">
                            <p>Barra de hierro</p>
                            <div>
                                </p>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                    <div>
                        <img src="/images/hidrofugo.jpg">

                        <div class="nombreprecio">
                            <p>Hidrofugo </p>
                            <div>
                                <p>$999999</p>
                                <p>C/U</p>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </section>

    </main>


    <footer>

    </footer>

</body>

</html>