<footer>
    <section class="contenedor02">
        <div class="pie-de-pagina">
            <div class="footer-col">
                <h4>Nuestra empresa</h4>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Nuestros servicios</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ayuda</h4>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Seguimientos</a></li>
                    <li><a href="#">Metodos de pago</a></li>
                    <li><a href="#">Métodos de envio</a></li>
                </ul>
            </div>
            <div class="footer-col" id="footer-contacto">
                <h4>Contáctenos</h4>
                <ul class="rigth-footer">
                    <li><a href="#" target="_blank"><img class="media" src="/images/facebook.svg"
                                alt="Facebook"></a>
                    </li>
                    <li><a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg"
                                alt="Whatsapp"></a>
                    </li>
                    <li><a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg"
                                alt="Instagram"></a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">Copyright © 1999-2022 Buildreams S.R.L</p>
    </section>
</footer>