<header class="header-form">
<section class="main-header-top-bar">
    <div class="titulologo">
        <a href="/"><img class="logo" src="/images/buildreams_Mati-removebg-preview.png"
                alt="Logo Mercado Buildreams"></a>
    </div>

    <div class="search">
        <form class="search-bar-form" action="/listar.html" method="GET">
            <input class="barra" type="search" , placeholder="Buscar productos">
            <button class="lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>

    <div class="h3-navbar">
        <h3 class="copy-header">El mejor lugar para comprar los materiales para tu construcción</h3>
    </div>
</section>
