<nav class="main-navbar">
    <ul class="left-navbar">
        <li><a href="/login"><i class="fa fa-user-circle fa-2x" id="icon-nav"></i></a></li>
        <li><a href="/productCart"><i class="fa fa-shopping-cart fa-2x" id="icon-nav"></i></a></li>
        <li><a href="/register"><i class="fa-regular fa-address-card" id="icon-nav"></i></a></li>
    </ul>

    <ul class="rigth-navbar">
        <li><a href="#" target="_blank"><img class="media" src="/images/facebook.svg" alt="Facebook"></a>
        </li>
        <li><a href="#" target="_blank"><img class="media" src="/images/whatsapp-icon.svg" alt="Whatsapp"></a>
        </li>
        <li><a href="#" target="_blank"><img class="media" src="/images/instagram-icon.svg" alt="Instagram"></a>
        </li>
    </ul>
</nav>
</header>